.List {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px 30px;

	@media (max-width: 1200px) {
		width: 100%;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}
}

.Link {
	display: block;
	padding: 5px;

	color: var(--primary);
}

.Address {
	position: relative;

	display: block;
	padding: 5px 5px 5px 25px;

	color: var(--primary);

	&:before {
		content: '';

		position: absolute;
		top: 5px;
		left: 0;

		display: block;
		width: 16px;
		height: 20px;

		background-image: url("data:image/svg+xml,  %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 20' width='16px' height='20px' %3E%3Cpath d='M7.99998 20C6.55649 18.8032 5.21849 17.4911 3.99999 16.0774C2.17142 13.9545 1.00445e-06 10.7929 1.00445e-06 7.78016C-0.00079202 6.24153 0.468009 4.73725 1.34708 3.4577C2.22614 2.17815 3.47596 1.18085 4.93835 0.592004C6.40074 0.0031624 8.00998 -0.150748 9.5624 0.14975C11.1148 0.450249 12.5406 1.19165 13.6594 2.28012C14.4043 3.00094 14.9946 3.85819 15.3964 4.80227C15.7982 5.74635 16.0033 6.7585 16 7.78016C16 10.7929 13.8285 13.9545 12 16.0774C10.7815 17.4911 9.44347 18.8032 7.99998 20ZM7.99998 4.44748C7.09067 4.44748 6.2186 4.7986 5.57562 5.4236C4.93264 6.0486 4.57142 6.89628 4.57142 7.78016C4.57142 8.66404 4.93264 9.51173 5.57562 10.1367C6.2186 10.7617 7.09067 11.1128 7.99998 11.1128C8.90929 11.1128 9.78136 10.7617 10.4243 10.1367C11.0673 9.51173 11.4285 8.66404 11.4285 7.78016C11.4285 6.89628 11.0673 6.0486 10.4243 5.4236C9.78136 4.7986 8.90929 4.44748 7.99998 4.44748Z' fill='%23F1592A' /%3E%3C/svg%3E");
	}
}
